# Flutter & Dart
**/.dart_tool/
**/.packages
**/build/
**/.pub-cache/
**/.pub/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Android
**/android/.gradle/
**/android/local.properties
**/android/captures/

# iOS
**/ios/.symlinks/
**/ios/Pods/
**/ios/Podfile.lock

# Operating System
.DS_Store
**/.DS_Store
Thumbs.db
